<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MATCH5</title>
    <link rel="stylesheet" href="/css/auth/auth.style.css">
</head>

<body>

<main>
    <div class="container">
        <div class="c6">
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
            <div class="face-6"></div>
        </div>
        <div class="c5">
            <div class="face-5"></div>
            <div class="face-5"></div>
            <div class="face-5"></div>
            <div class="face-5"></div>
            <div class="face-5"></div>
            <div class="face-5"></div>
            <div class="face-5"></div>
            <div class="face-5"></div>
            <div class="face-5"></div>
            <div class="face-5"></div>
            <div class="face-5"></div>
            <div class="face-5"></div>
        </div>
    </div>
</main>

</body>

</html>