<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MATCH5</title>
    <link rel="stylesheet" href="/css/auth/login.style.css">
    <script src="/js/common.js" defer></script>
    <script src="/js/auth/login.js" defer></script>
</head>

<body>

<header class="header">
    <nav class="navbar">
        <a href="/">
            <img src="/images/logo.png" alt="">
        </a>

    </nav>
</header>


<main class="main">
    <section class="banner-container banner-container-type1">
        <img src="/images/banner/loginBanner.png" alt="" class="banner">
    </section>

    <section class="content-container">
        <div class="content__main">
            <div class="main-phrase">
                <p>혼자 가볍게 풋살을 즐기고 싶을 때</p>
            </div>
            <div class="main-phrase-2">
                <p>MATCH5의 간편한 서비스를 로그인 후 이용해 보세요</p>
            </div>
            <div class="kakao-button" id="kakao-button">
                <div class="kakao-symbol">
                    <img src="/images/kakao/kakaologo.png">
                </div>
                <div class="kakao-label">
                    <p>카카오 로그인</p>
                </div>
            </div>


        </div>
    </section>

</main>

</body>

</html>