<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--  <title>notification fragment</title>-->
<!--  <link rel="stylesheet" type="text/css" href="./css/notification.css"> &lt;!&ndash; 공통 CSS 추가 &ndash;&gt;-->
<!--  <script src="/js/notification-modal.js"></script> &lt;!&ndash; 공통 자바스크립트 추가 &ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; 각 페이지가 추가하는 콘텐츠를 위한 공간 &ndash;&gt;-->
<!--<div th:fragment="content">-->
<!--  &lt;!&ndash; 매칭 알림 모달창&#45;&#45;<div id="matching-notification-modal" onclick="hideModal()"></div> &ndash;&gt;-->
<!--&lt;!&ndash; 알림 버튼 &ndash;&gt;-->
<!--  <button id="notification-button" class="info-notification-Open">-->
<!--    <img th:src="@{/images/noti_button.png}" alt="알림 버튼">-->
<!--    &lt;!&ndash; 빨간 동그라미 &ndash;&gt;-->
<!--    <div id="red-dot"></div>-->
<!--  </button>-->

<!--  &lt;!&ndash; 모달 창 &ndash;&gt;-->
<!--  <div id="notification-modal">-->
<!--&lt;!&ndash;    <h2>알림</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    <ul id="notification-list">&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash; 자바스크립트로 알림 목록을 동적으로 추가 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--      &lt;!&ndash;데이터 삽입&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="notification-content">&ndash;&gt;-->
<!--&lt;!&ndash;      <p>알림이 존재하지 않습니다.(알림이 존재하지 않을때) 알람이 생성되면 제거 필요</p>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="notification-content" data-alarm-type="매칭취소">&ndash;&gt;-->
<!--&lt;!&ndash;      <p>매칭이 취소되었습니다.</p>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="notification-content" data-alarm-type="매칭" data-match-history-id="805">&ndash;&gt;-->
<!--&lt;!&ndash;      <p>매칭이 잡혔습니다. 알림을 클릭해서 매칭정보를 확인하세요</p>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--      &lt;!&ndash;데이터 삽입 END&ndash;&gt;-->
<!--</div>-->

<!--</body>-->
<!--</html>-->