<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MATCH5</title>

	<link rel="stylesheet" href="/css/peer_review.style.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" defer></script>
	<script src="/js/userReview/peer_review.js" defer></script>
</head>

<body>
	<header class="header">
		<nav class="navbar">
			<a href="/">
				<img src="/images/logo.png" alt="">
			</a>
			<div class="navbar__menu-container">
				<a href="/stadium-list">
					<img src="/images/icons/icon-stadium-info.svg" alt="" class="icon-stadium-info">
				</a>
				<a href="/mypage">
					<img src="/images/icons/icon-mypage.svg" alt="" class="icon-mypage">
				</a>
			</div>
		</nav>
	</header>
	<main class="main">
		<section class="content-container">
			<div class="content__main">
				<div name="startform" class="content__main__startform">
					<div class="content__main__info-container">
						<div class="content__main__title">
							같이 경기했던 동료에 대한 후기를 남겨주세요
						</div>
						<div>
<!--							혜화 재현 풋살장-->
						</div>
						<div>
<!--							2024년 3월 28일 (수요일) 17:00 ~ 18:00-->
						</div>
					</div>

					<div class="carousel-wrap">
						<div class="owl-carousel owl-carousel-peerreview">
							<div class="item">
								<div class="carousel-item-container">
									<div class="dialog-line line-color team-bg"></div>
									<div class="carousel-item-content-container">
										<div class="carousel-item-name">
											<p></p>
										</div>
										<div class="match-userinfo-card">
											<div class="additional">
												<div class="user-card">
													<div class="matchgameinfo__userprofile">
														<img src="" alt="">
													</div>
												</div>
												<div class="more-info">
													<div class="container">
														<div class="more-info-value">
															<p class="team-color"></p>
														</div>
														<div class="more-info-title">참여팀</div>
													</div>
													<div class="container">
														<div class="more-info-value">
															<img src="" alt="">
														</div>
														<div class="more-info-title"></div>
													</div>
		
													<div class="container">
														<div class="more-info-value">
															<p></p>
														</div>
														<div class="more-info-title">경기수</div>
													</div>
												</div>
											</div>
										</div>
										<div class="peerreview-wrap">
											<div class="peerreview-container">
												<input type="radio" id="user1-bad" name="user1">
												<label for="user1-bad">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/bad.png" alt="">
													</div>
													<p>레벨보다 조금 아쉬워요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user1-soso" name="user1">
												<label for="user1-soso">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/soso.png" alt="">
													</div>
													<p>레벨에 맞는 실력이에요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user1-good" name="user1">
												<label for="user1-good">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/good.png" alt="">
													</div>
													<p>레벨보다 더 훌륭해요</p>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="carousel-item-container">
									<div class="dialog-line line-color team-bg"></div>
									<div class="carousel-item-content-container">
										<div class="carousel-item-name">
											<p></p>
										</div>
										<div class="match-userinfo-card">
											<div class="additional">
												<div class="user-card">
													<div class="matchgameinfo__userprofile">
														<img src="" alt="">
													</div>
												</div>
												<div class="more-info">
													<div class="container">
														<div class="more-info-value">
															<p class="team-color"></p>
														</div>
														<div class="more-info-title">참여팀</div>
													</div>
													<div class="container">
														<div class="more-info-value">
															<img src="" alt="">
														</div>
														<div class="more-info-title"></div>
													</div>
		
													<div class="container">
														<div class="more-info-value">
															<p></p>
														</div>
														<div class="more-info-title">경기수</div>
													</div>
												</div>
											</div>
										</div>
										<div class="peerreview-wrap">
											<div class="peerreview-container">
												<input type="radio" id="user2-bad" name="user2">
												<label for="user2-bad">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/bad.png" alt="">
													</div>
													<p>레벨보다 조금 아쉬워요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user2-soso" name="user2">
												<label for="user2-soso">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/soso.png" alt="">
													</div>
													<p>레벨에 맞는 실력이에요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user2-good" name="user2">
												<label for="user2-good">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/good.png" alt="">
													</div>
													<p>레벨보다 더 훌륭해요</p>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="carousel-item-container">
									<div class="dialog-line line-color team-bg"></div>
									<div class="carousel-item-content-container">
										<div class="carousel-item-name">
											<p></p>
										</div>
										<div class="match-userinfo-card">
											<div class="additional">
												<div class="user-card">
													<div class="matchgameinfo__userprofile">
														<img src="" alt="">
													</div>
												</div>
												<div class="more-info">
													<div class="container">
														<div class="more-info-value">
															<p class="team-color"></p>
														</div>
														<div class="more-info-title">참여팀</div>
													</div>
													<div class="container">
														<div class="more-info-value">
															<img src="" alt="">
														</div>
														<div class="more-info-title"></div>
													</div>
		
													<div class="container">
														<div class="more-info-value">
															<p></p>
														</div>
														<div class="more-info-title">경기수</div>
													</div>
												</div>
											</div>
										</div>
										<div class="peerreview-wrap">
											<div class="peerreview-container">
												<input type="radio" id="user3-bad" name="user3">
												<label for="user3-bad">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/bad.png" alt="">
													</div>
													<p>레벨보다 조금 아쉬워요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user3-soso" name="user3">
												<label for="user3-soso">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/soso.png" alt="">
													</div>
													<p>레벨에 맞는 실력이에요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user3-good" name="user3">
												<label for="user3-good">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/good.png" alt="">
													</div>
													<p>레벨보다 더 훌륭해요</p>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="carousel-item-container">
									<div class="dialog-line line-color team-bg"></div>
									<div class="carousel-item-content-container">
										<div class="carousel-item-name">
											<p></p>
										</div>
										<div class="match-userinfo-card">
											<div class="additional">
												<div class="user-card">
													<div class="matchgameinfo__userprofile">
														<img src="" alt="">
													</div>
												</div>
												<div class="more-info">
													<div class="container">
														<div class="more-info-value">
															<p class="team-color"></p>
														</div>
														<div class="more-info-title">참여팀</div>
													</div>
													<div class="container">
														<div class="more-info-value">
															<img src="" alt="">
														</div>
														<div class="more-info-title"></div>
													</div>
		
													<div class="container">
														<div class="more-info-value">
															<p></p>
														</div>
														<div class="more-info-title">경기수</div>
													</div>
												</div>
											</div>
										</div>
										<div class="peerreview-wrap">
											<div class="peerreview-container">
												<input type="radio" id="user4-bad" name="user4">
												<label for="user4-bad">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/bad.png" alt="">
													</div>
													<p>레벨보다 조금 아쉬워요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user4-soso" name="user4">
												<label for="user4-soso">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/soso.png" alt="">
													</div>
													<p>레벨에 맞는 실력이에요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user4-good" name="user4">
												<label for="user4-good">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/good.png" alt="">
													</div>
													<p>레벨보다 더 훌륭해요</p>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="carousel-item-container">
									<div class="dialog-line line-color team-bg"></div>
									<div class="carousel-item-content-container">
										<div class="carousel-item-name">
											<p></p>
										</div>
										<div class="match-userinfo-card">
											<div class="additional">
												<div class="user-card">
													<div class="matchgameinfo__userprofile">
														<img src="" alt="">
													</div>
												</div>
												<div class="more-info">
													<div class="container">
														<div class="more-info-value">
															<p class="team-color"></p>
														</div>
														<div class="more-info-title">참여팀</div>
													</div>
													<div class="container">
														<div class="more-info-value">
															<img src="" alt="">
														</div>
														<div class="more-info-title"></div>
													</div>
		
													<div class="container">
														<div class="more-info-value">
															<p></p>
														</div>
														<div class="more-info-title">경기수</div>
													</div>
												</div>
											</div>
										</div>
										<div class="peerreview-wrap">
											<div class="peerreview-container">
												<input type="radio" id="user5-bad" name="user5">
												<label for="user5-bad">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/bad.png" alt="">
													</div>
													<p>레벨보다 조금 아쉬워요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user5-soso" name="user5">
												<label for="user5-soso">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/soso.png" alt="">
													</div>
													<p>레벨에 맞는 실력이에요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user5-good" name="user5">
												<label for="user5-good">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/good.png" alt="">
													</div>
													<p>레벨보다 더 훌륭해요</p>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="carousel-item-container">
									<div class="dialog-line line-color team-bg"></div>
									<div class="carousel-item-content-container">
										<div class="carousel-item-name">
											<p></p>
										</div>
										<div class="match-userinfo-card">
											<div class="additional">
												<div class="user-card">
													<div class="matchgameinfo__userprofile">
														<img src="" alt="">
													</div>
												</div>
												<div class="more-info">
													<div class="container">
														<div class="more-info-value">
															<p class="team-color"></p>
														</div>
														<div class="more-info-title">참여팀</div>
													</div>
													<div class="container">
														<div class="more-info-value">
															<img src="" alt="">
														</div>
														<div class="more-info-title"></div>
													</div>
		
													<div class="container">
														<div class="more-info-value">
															<p></p>
														</div>
														<div class="more-info-title">경기수</div>
													</div>
												</div>
											</div>
										</div>
										<div class="peerreview-wrap">
											<div class="peerreview-container">
												<input type="radio" id="user6-bad" name="user6">
												<label for="user6-bad">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/bad.png" alt="">
													</div>
													<p>레벨보다 조금 아쉬워요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user6-soso" name="user6">
												<label for="user6-soso">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/soso.png" alt="">
													</div>
													<p>레벨에 맞는 실력이에요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user6-good" name="user6">
												<label for="user6-good">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/good.png" alt="">
													</div>
													<p>레벨보다 더 훌륭해요</p>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="carousel-item-container">
									<div class="dialog-line line-color team-bg"></div>
									<div class="carousel-item-content-container">
										<div class="carousel-item-name">
											<p></p>
										</div>
										<div class="match-userinfo-card">
											<div class="additional">
												<div class="user-card">
													<div class="matchgameinfo__userprofile">
														<img src="" alt="">
													</div>
												</div>
												<div class="more-info">
													<div class="container">
														<div class="more-info-value">
															<p class="team-color"></p>
														</div>
														<div class="more-info-title">참여팀</div>
													</div>
													<div class="container">
														<div class="more-info-value">
															<img src="" alt="">
														</div>
														<div class="more-info-title"></div>
													</div>
		
													<div class="container">
														<div class="more-info-value">
															<p></p>
														</div>
														<div class="more-info-title">경기수</div>
													</div>
												</div>
											</div>
										</div>
										<div class="peerreview-wrap">
											<div class="peerreview-container">
												<input type="radio" id="user7-bad" name="user7">
												<label for="user7-bad">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/bad.png" alt="">
													</div>
													<p>레벨보다 조금 아쉬워요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user7-soso" name="user7">
												<label for="user7-soso">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/soso.png" alt="">
													</div>
													<p>레벨에 맞는 실력이에요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user7-good" name="user7">
												<label for="user7-good">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/good.png" alt="">
													</div>
													<p>레벨보다 더 훌륭해요</p>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="carousel-item-container">
									<div class="dialog-line line-color team-bg"></div>
									<div class="carousel-item-content-container">
										<div class="carousel-item-name">
											<p></p>
										</div>
										<div class="match-userinfo-card">
											<div class="additional">
												<div class="user-card">
													<div class="matchgameinfo__userprofile">
														<img src="" alt="">
													</div>
												</div>
												<div class="more-info">
													<div class="container">
														<div class="more-info-value">
															<p class="team-color"></p>
														</div>
														<div class="more-info-title">참여팀</div>
													</div>
													<div class="container">
														<div class="more-info-value">
															<img src="" alt="">
														</div>
														<div class="more-info-title"></div>
													</div>
		
													<div class="container">
														<div class="more-info-value">
															<p></p>
														</div>
														<div class="more-info-title">경기수</div>
													</div>
												</div>
											</div>
										</div>
										<div class="peerreview-wrap">
											<div class="peerreview-container">
												<input type="radio" id="user8-bad" name="user8">
												<label for="user8-bad">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/bad.png" alt="">
													</div>
													<p>레벨보다 조금 아쉬워요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user8-soso" name="user8">
												<label for="user8-soso">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/soso.png" alt="">
													</div>
													<p>레벨에 맞는 실력이에요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user8-good" name="user8">
												<label for="user8-good">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/good.png" alt="">
													</div>
													<p>레벨보다 더 훌륭해요</p>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="carousel-item-container">
									<div class="dialog-line line-color team-bg"></div>
									<div class="carousel-item-content-container">
										<div class="carousel-item-name">
											<p></p>
										</div>
										<div class="match-userinfo-card">
											<div class="additional">
												<div class="user-card">
													<div class="matchgameinfo__userprofile">
														<img src="" alt="">
													</div>
												</div>
												<div class="more-info">
													<div class="container">
														<div class="more-info-value">
															<p class="team-color"></p>
														</div>
														<div class="more-info-title">참여팀</div>
													</div>
													<div class="container">
														<div class="more-info-value">
															<img src="" alt="">
														</div>
														<div class="more-info-title"></div>
													</div>
		
													<div class="container">
														<div class="more-info-value">
															<p></p>
														</div>
														<div class="more-info-title">경기수</div>
													</div>
												</div>
											</div>
										</div>
										<div class="peerreview-wrap">
											<div class="peerreview-container">
												<input type="radio" id="user9-bad" name="user9">
												<label for="user9-bad">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/bad.png" alt="">
													</div>
													<p>레벨보다 조금 아쉬워요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user9-soso" name="user9">
												<label for="user9-soso">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/soso.png" alt="">
													</div>
													<p>레벨에 맞는 실력이에요</p>
												</label>
											</div>
											<div class="peerreview-container">
												<input type="radio" id="user9-good" name="user9">
												<label for="user9-good">
													<div class="peerreview-icon-container" >
														<img src="/images/utils/good.png" alt="">
													</div>
													<p>레벨보다 더 훌륭해요</p>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="startform__submit-container">
						<button>후기 작성완료</button><br>
					</div>
				</div>

			</div>
		</section>
	</main>
</body>

</html>