<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--위에는 mapper xml 기본문법 -->

<mapper namespace="site.match5.domain.paymentHistory.repository.PaymentMapper">

    <insert id="savePaymentHistory" parameterType="PaymentHistory">
        insert into PAYMENT_HISTORY(user_id, matching_history_id)
        VALUES (#{userId},#{matchingHistoryId})
    </insert>


</mapper>