@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

:root {
	/* Size */
	--bn-size-type1: 300px;
	--bn-size-type3: 280px;

	--content-width: 1140px;

	/* Border */
	--container-boarder-radius: 10px;

	/* color */
	--bn-background-color: rgb(220, 222, 225, 0.35);
	--container-box-shadow: 1px 2px 3px 1px rgb(203, 203, 203);
}

body {
	width: 100dvw;
	height: 100dvh;
	margin: 0;
}

.header {
	position: relative;
	width: 100%;
	height: 32px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
}


/* 공통 navbar */
.navbar {
	max-width: var(--content-width);
	width: 90%;
	height: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__menu-container {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.navbar__menu-container a {
	text-align: center;
	display: flex;
	align-items: center;
}

.navbar__menu-container .icon-stadium-info {
	margin: 0;
	list-style: none;
}

.navbar__menu-container .icon-mypage {
	width: 28px;
	height: 28px;
	margin: 0;
	list-style: none;
}

/* 공통 banner-container */
.banner-container {
	width: 100%;
	background-color: var(--bn-background-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 개별 banner-container */
.banner-container-type1 {
	height: var(--bn-size-type3);
}

/* 공통 banner */
/* 배너 케러셀 */
.carousel-wrap {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

.carousel-wrap .owl-carousel {
	width: 100%;
	height: 100%;
}

.owl-carousel .item {
	position: relative;
	max-width: var(--content-width);
	width: 90%;
	height: calc(var(--bn-size-type3) - 40px);
	margin:20px auto;
	z-index: 100;
	-webkit-backface-visibility: hidden;
}

.banner {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
}

/* 공통 content-container */
.content-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content__main {
	max-width: var(--content-width);
	width: 90%;
	height: 450px;
	margin-top: 20px;
	/* display: flex;
	justify-content: space-between;
	align-items: center; */

	/* border-radius: var(--container-boarder-radius);
	box-shadow: var(--container-box-shadow); */
}

.content__main__left {
	height: 100%;
	/* opacity: 0.6; */
}

.content__main__left>svg {
	height: 100%;
	width: calc(var(--content-width) *0.6);
	/* width: min-content; */
	position: relative;
}

.content__main__right {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	gap: 80px;
	
}

/*************content info*************/
.content__info__container {
	display: flex;
	justify-content: space-between;
	font-size: 17px;
	flex-wrap: wrap;
}

.content__info__container p {
	margin: 0;
}

.content__info__container .left-container > .title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;

}

.content__info__container .left-container > .title > span {
	border-bottom: 2px solid #000;
}

.content__info__container .left-container >p:nth-child(2) {
	margin-bottom: 10px;
}

.content__info__container .right-container {
	font-size: 14px;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.content__info__container .right-container > p {
	height: fit-content;
	margin-bottom: 20px;
}

.content__info__container .right-container .content__info__location {
	height: fit-content;
	margin: 0;
	color: #727272;
	text-decoration: underline;
	cursor: pointer;
}




/* *******emoji box******* */
.stadium-review-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png"); */
	/* flex-wrap: wrap; */
	/* height: 100vh; */
	/* padding: 0 20px; */
}

.stadium-review-container .feedback {
	max-width: 360px;
	width: 100%;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 4px 12px 0 rgba(10, 12, 46, 0.37);
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin: 10px auto 30px;

	/* backdrop-filter: blur( 16.5px ); */
	/* -webkit-backdrop-filter: blur( 16.5px ); */
}

.stadium-review-container .rating {
	position: relative;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	overflow: hidden;
}

.stadium-review-container .rating-0 {
	filter: grayscale(100%);
}

.stadium-review-container .rating > input {
	display: none;
}

.stadium-review-container .rating > label {
	width: 40px;
	height: 40px;
	margin-top: auto;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 76%;
	transition: .3s;
	cursor: pointer;
}

.stadium-review-container .rating > input:checked~label,
.stadium-review-container .rating > input:checked~label~label {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.stadium-review-container .rating > input:not(:checked)~label:hover,
.stadium-review-container .rating > input:not(:checked)~label:hover~label {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	text-align: center;
	overflow: hidden;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
	position: absolute;
	width: 100%;
	height: 15px;
	left: 0;
	z-index: 1;
	content: "";
}

.emoji-wrapper:before {
	top: 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}
.emoji-wrapper:after {
	bottom: 0;
	background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji-wrapper .emoji {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: .3s;
}

.emoji-wrapper .emoji > svg {
	width: 70px;
	height: 70px;
	margin: 15px 0;
	flex-shrink: 0;
}

#rating-1:checked~.emoji-wrapper>.emoji {
	transform: translateY(-100px);
}

#rating-2:checked~.emoji-wrapper>.emoji {
	transform: translateY(-200px);
}

#rating-3:checked~.emoji-wrapper>.emoji {
	transform: translateY(-300px);
}

#rating-4:checked~.emoji-wrapper>.emoji {
	transform: translateY(-400px);
}

#rating-5:checked~.emoji-wrapper>.emoji {
	transform: translateY(-500px);
}

/* **************리뷰 작성 *************** */
.write-review-container {
	max-width: 960px;
	width: 100%;
	height: 140px;
	margin: 0 auto;
}

.write-review-container > textarea {
	width: 100%;
	height: 100%;
	padding: 15px;
	background-color: #F4F4F4;
	box-sizing: border-box;
	border: none;
	/* border: solid 2px #1E90FF; */
	border-radius: 15px;
	font-size: 16px;
	resize: none;
}

.write-review-container > textarea:focus {
	outline: 2px solid rgba(61, 55, 69, 0.18);
}

.startform__submit-container {
	max-width: 960px;
	width: 100%;
	margin: 20px auto 0;
	position: relative;
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 10px;
}

.startform__submit-container > button {
	width: 75px;
	height: 35px;
	border-radius: 5px;
	background-color: black;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.startform__submit-container > button:nth-child(1) {
	display: none;
	border: 1px solid black;
	background-color: white;
	color: black;
}

.startform__submit-container > .review-regist {
	background-color: black;
	color: white;
}

/* 모달 */
dialog {
	max-width: 550px;
	width: 90%;
	height: 90%;
	border: none;
	border-radius: 15px;
}

.dialog-type1 {
	max-height: 250px;
}

/*.dialog-type2 {*/
/*	max-height: 300px;*/
/*}*/

.dialog-content-container {
	width: 90%;
	height: calc(100% - 60px);
	margin: auto;
	overflow: hidden;
}

.dialog-button-container {
	width: 100%;
	height: 40px;
	margin: 0 auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.dialog-button-container > button {
	width: 100px;
	height: 100%;
	border: 1px solid #bab8bd;
	border-radius: 10px;
	background-color: #fff;
	color: rgb(80, 80, 80);
	font-weight: bold;
	cursor: pointer;
}

.dialog-button-container > button:hover {
	background-color: #101010;
	color: #ffffff;
}

.info-error-dialog .dialog-content-message,
.info-success-dialog .dialog-content-message {
	width: 100%;
	height: 100%;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info-error-dialog .dialog-content-message > svg,
.info-success-dialog .dialog-content-message > svg {
	width: 50%;
	height: 50%;
}

.info-error-dialog .dialog-content-message > p,
.info-success-dialog .dialog-content-message > p {
	font-size: 17px;
	color: #383838;
	margin: 20px 0;
}

/*.dialogo-content-select-codition {*/
/*	width: 100%;*/
/*	height: fit-content;*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	color: #3535e9;*/
/*}*/

/*.dialogo-content-select-codition p {*/
/*	font-size: 14px;*/
/*	margin: 5px 0;*/
/*}*/
