<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MATCH5</title>
    <!----------- 알림을 위한 공통 태그 START ----------->
    <link rel="stylesheet" type="text/css" href="/css/notification.css"> <!-- 알림 CSS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script><!-- 알림 JS -->
    <script src="/js/alarm.js" defer></script><!-- 알림 JS -->
    <script src="/js/notification-modal.js" defer></script><!-- 알림 JS -->
    <!----------- 알람을 위한 공통 태그 END ----------->
</head>
<body>
    <h1>내 매칭이력</h1>

    <!----------- 알림을 위한 공통 코드 START ----------->
    <!-- 알림 버튼 -->
    <button id="notification-button">
        <img src="/images/noti_button.png" alt="알림 버튼">
        <!-- 빨간 동그라미 -->
        <div id="red-dot"></div>
    </button>
    <!-- 알림 모달 창 -->
    <div id="notification-modal"></div>
    <!----------- 알림을 위한 공통 코드 END ----------->
</body>
</html>