<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MATCH5</title>
	<link rel="stylesheet" href="/css/stadiumdetail.style.css">
	<!----------- 알림을 위한 공통 태그 START ----------->
	<link rel="stylesheet" type="text/css" href="/css/notification.css"> <!-- 알림 CSS -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script><!-- 알림 JS -->
	<script src="/js/alarm.js" defer></script><!-- 알림 JS -->
	<script src="/js/notification-modal.js" defer></script><!-- 알림 JS -->
	<!----------- 알람을 위한 공통 태그 END ----------->
</head>

<body>
	<header class="header">
		<nav class="navbar">
			<a href="/">
				<img src="/images/logo.png" alt="">
			</a>
			<div class="navbar__menu-container">
				<a href="/stadium-list">
					<img src="/images/icons/icon-stadium-info.svg" alt="" class="icon-stadium-info">
				</a>
				<a href="/mypage">
					<img src="/images/icons/icon-mypage.svg" alt="" class="icon-mypage">
				</a>
			</div>
		</nav>
	</header>

	<main class="main">
		<section class="banner-container banner-container-type1">
			<img src="/images/test-banner-img.png" alt="" class="banner">
		</section>

		<section class="content-container">
			<div class="content__main">
				<div class="content__info__container">
					<div class="left-container">
						<p class="title"><span>노원구 굿잡 풋살장 7구장</span></p>
						<div class="content-address-container">
							<p>서울특별시 노원구 통일로 245길</p>
							<p class="content__info__location">지도보기</p>
						</div>
					</div>

					<div class="right-container">
						<button>구장 정보</button>
						<button>구장 특이사항</button>
					</div>
				</div>

				<div class="div-line"></div>

				<div class="content__info__container">
					<div class="content__left-container">
						<div class="user-score-container">
							<p class="title">사용자 평점</p>
							<p class="rating-score">4.5 / <span>5</span></p>
							<div class="rating-container">
								<div class="star-rating">
									<span class="star-rating-score" style="width: 90%;"></span>
								</div>
							</div>
							<p class="rating-count">12명 참여</p>
						</div>
					</div>
					<div class="content__right-container">
						<div class="user-review-container">
							<div class="user-review-score-container">
								<div class="star-rating review">
									<span class="star-rating-score" style="width: 90%;"></span>
								</div>
								<p class="review-rating-score">&nbsp;&nbsp;4.5</p>
							</div>
							<div class="user-review-content">
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
							</div>
							<div class="user-review-footer">
								<span>blac****</span>&nbsp;&middot;&nbsp;<span>2024.05.01. 10:51</span>
							</div>
						</div>
						<div class="user-review-container">
							<div class="user-review-score-container">
								<div class="star-rating review">
									<span class="star-rating-score" style="width: 90%;"></span>
								</div>
								<p class="review-rating-score">&nbsp;&nbsp;4.5</p>
							</div>
							<div class="user-review-content">
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
							</div>
							<div class="user-review-footer">
								<span>blac****</span>&nbsp;&middot;&nbsp;<span>2024.05.01. 10:51</span>
							</div>
						</div>
						<div class="user-review-container">
							<div class="user-review-score-container">
								<div class="star-rating review">
									<span class="star-rating-score" style="width: 90%;"></span>
								</div>
								<p class="review-rating-score">&nbsp;&nbsp;4.5</p>
							</div>
							<div class="user-review-content">
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
							</div>
							<div class="user-review-footer">
								<span>blac****</span>&nbsp;&middot;&nbsp;<span>2024.05.01. 10:51</span>
							</div>
						</div>
						<div class="user-review-container">
							<div class="user-review-score-container">
								<div class="star-rating review">
									<span class="star-rating-score" style="width: 90%;"></span>
								</div>
								<p class="review-rating-score">&nbsp;&nbsp;4.5</p>
							</div>
							<div class="user-review-content">
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
							</div>
							<div class="user-review-footer">
								<span>blac****</span>&nbsp;&middot;&nbsp;<span>2024.05.01. 10:51</span>
							</div>
						</div>
						<div class="user-review-container">
							<div class="user-review-score-container">
								<div class="star-rating review">
									<span class="star-rating-score" style="width: 90%;"></span>
								</div>
								<p class="review-rating-score">&nbsp;&nbsp;4.5</p>
							</div>
							<div class="user-review-content">
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
							</div>
							<div class="user-review-footer">
								<span>blac****</span>&nbsp;&middot;&nbsp;<span>2024.05.01. 10:51</span>
							</div>
						</div>
						<div class="user-review-container">
							<div class="user-review-score-container">
								<div class="star-rating review">
									<span class="star-rating-score" style="width: 90%;"></span>
								</div>
								<p class="review-rating-score">&nbsp;&nbsp;4.5</p>
							</div>
							<div class="user-review-content">
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
								시설 너무 좋아요. “꼭” 게임해보세요 정말 좋아요 ^^
							</div>
							<div class="user-review-footer">
								<span>blac****</span>&nbsp;&middot;&nbsp;<span>2024.05.01. 10:51</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

	</main>
	<!----------- 알림을 위한 공통 코드 START ----------->
	<!-- 알림 버튼 -->
	<button id="notification-button">
		<img src="/images/noti_button.png" alt="알림 버튼">
		<!-- 빨간 동그라미 -->
		<div id="red-dot"></div>
	</button>
	<!-- 알림 모달 창 -->
	<div id="notification-modal"></div>
	<!----------- 알림을 위한 공통 코드 END ----------->
</body>

</html>